@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
  margin:0;
  padding:0;
}

body{
    height: 100vh;
    width:100vw;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #181818;
}

/* DESKTOP NAV */

nav, .desktop_nav_li{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    align-items: center;
    border:none;
  }

  nav{
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  }
  
  .desktop_nav_elements{
    margin-right: 3rem;
  }
  
  .desktop_nav_li{
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  
  .desktop_nav_li a {
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 0.3s ease;
  }
  
  .desktop_nav_li a:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: rgb(180,180,180);
    text-underline-offset: 0.8rem;
    transition: all 0.3s ease;
  }
  
  .logo {
    font-size: 2rem;
    cursor: default;
    margin-left: 1rem;
    color: rgb(211, 211, 211);
  }
  
  #hamburger-nav{
    display:none;
  }
  
  .hamburger-menu {
    position: relative;
    display:inline-block;
  }
  
  .hamburger-icon {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height: 24px;
    width:40px;
    margin-right: 1rem;
    cursor:pointer;
    z-index: 1;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(70,70,70);
    transition: all 0.3 ease-in-out;
    z-index: 2;
  }
  
  .menu-links {
    position: absolute;
    border-radius: none;
    top: 100%;
    right: 0;
    width: 100vw;
    max-height: 0;
    overflow:hidden;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    background-color: #181818;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
  
  .menu-links li{
    list-style: none;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align:right;
    margin-right: 3rem;
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }

  .menu-links a:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: rgb(180,180,180);
    text-underline-offset: 0.8rem;
    transition: all 0.3s ease;
  }
  
  .menu-links.open{
    max-height: 300px;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform:none;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  /* Nav over */


section {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vw;
    max-width: 100vw;
    
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    margin-top: 10rem;
}

/* Work Scene */
.work_scene{
  width:100vw;
  height:100vh;
}

.work_filler{
  display:none;
}

/* General Section */
.general_section {
    flex-direction: column;
    margin-top: 5rem;
    gap:2rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .general_section img {
    border-radius: 50rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.3s ease-in-out;
  }
  
  .general_section img:hover {
    scale: 103%;
    transition: 0.3s ease-in-out;
  }

  .info_container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }

  .info_container #one {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .info_container #two {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .info_container #three {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .info_container button {
    border-radius: 8px;
    width: 8rem;
    height: 2.5rem;
    background: #181818;
    border: none;
    transition: 0.2s ease-in-out;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }

  .buttons button{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .buttons #two {
    background-color: whitesmoke;
    color: black;
  }
  
  .buttons #two:hover  {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1.1;
    font-weight: bold;
  }

  /* General Section Over */

  


/* Coffe Section */
.coffe_section {
    justify-content: center;
    align-items:center;
    min-height: 100vh;
  }
  
  .painting {
    margin-left:7rem;
    margin-right: 5rem;
    padding: 1.5rem;
    width: 17rem;
    height: 15rem;
    background-color: rgb(70,50, 50);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 1rem;
  }
  
  #credits {
    font-size: 0.8rem;
    color:rgb(70,50, 50);
    transition: 1s ease;
  }
  
  #credits a{
    text-decoration:none;
    color: rgb(70,50, 50);
    transition: 1s ease;
  }
  
  .painting:hover #credits {
    color:rgb(100,100,100);
    transition: 1s ease;
  }
  
  .painting:hover #credits a {
    transition: 1s ease;
    color: rgb(170,170,170);
  }
  
  .coffe_cup_container
  {
      display:flex;
      flex-direction: column;
      position:relative;
      transform: scale(50%);
      gap: 3rem;
      justify-content: center;
      align-items: center;
  }
  
  .coffe_cup_container #hint{
    visibility: hidden;
    color: transparent;
    transition: 1s ease-in;
  }
  
  .coffe_cup_container:hover #hint{
    visibility: visible;
    color:rgb(130,130,130);
  }

  /* Coffe Section Over*/

  /* About Section */
  .about_section {
    margin-top: 20rem;
    flex-direction: row;
  }
  
  .about_section img {
    border-radius: 1rem;
    transition: 1s ease;
  }
  
  .head_scene_container{
    flex: 1;
    border-radius: 10px;
  }
  
  .about_info_container {
    width: 50vw;
  }
  

  
  .about_info_container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  
  .infos {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: rgb(35, 35, 35);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    border-radius:0.5rem;
    text-align:center;
    transition: 0.5s ease;
    height: fit-content;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .infos:hover {
    scale: 105%;
    transition: 0.5s ease;
  }
  
  .about_info_container article {
    text-align:center;
  }
/* About Section Over*/

/* Experience Section Over*/

.experience_section {
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align: center;
  }
  
  .experience_components {
    display:flex;
    flex-direction: row;
    padding:1rem;
    height:fit-content;
    justify-content:space-around;
  }
  
  .experience_components #caption {
    font-size: 1.25rem;
  }
  
  .lvl{
    display:flex;
    flex-direction:column;
    gap: 2px;
    align-items: center;
    justify-content:end;
    height: 10px;
    width:0.75rem;
  }
  
  .lvl span {
    width:100%;
    height:2px;
    background-color:rgb(73, 23, 210);
  }
  
  article {
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:1rem;
    padding-left: 1rem;
    padding-right:1rem;
  }
  
  .legend {
    display:flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  
  .infosb{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;  
    padding: 1rem;
    border-radius:0.5rem;
    text-align:center;
    transition: 0.5s ease;
    height: fit-content;
    margin-top:1rem;
    background-color: whitesmoke;
    color:#181818;
  }

  .frontend_container, .backend_container, .git_container {
    width: fit-content;
    flex-grow:1;
  }
  
  .git_container {
    display:flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items:center;
    text-align:center;
    max-height: 10rem;
    width: fit-content;
  }
  
  .git_container .infos:hover{
    background-color: rgb(20,20,20);
  }

  /* Experience Section Over*/


  .scratch_section {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border-radius:10px;
  }

  /* Contact Section */

  .contact_section {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
  }
  
  
  .contact_container {
    display:flex;
    flex-direction:row;
  }

  /* Contact Section Over */

  /* Footer Section */

  footer {
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100vw;
    justify-content:center;
  }
  
  
  .footer_nav ul {
    display:flex;
    flex-direction:row;
    gap:1rem;
    flex-grow:2;
    list-style:none;
    text-decoration:none;
  }
  
  .footer_nav ul li a{
    text-decoration:none;
    color:whitesmoke;
  }
  
  .footer_nav a {
    color: whitesmoke;
    text-decoration: none;
    text-decoration-color: white;
    transition: all 0.3s ease;
  }
  
  .footer_nav a:hover {
    color: grey;
    text-decoration: overline;
    text-decoration-color: rgb(180,180,180);
    text-underline-offset: 0.8rem;
    transition: all 0.3s ease;
  }
  
  footer p{
    font-size: 0.5rem;
    color:grey;
  }

  /* Footer Section Over */

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }






